<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Login</title>
  <!-- Add Bootstrap CSS link -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">User Login</div>
          <div class="card-body">
            <form id="login-form">
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
              </div>
              <button type="submit" class="btn btn-primary">Login</button>
            </form>
            <p id="response-message" class="mt-3 text-danger"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Add Bootstrap JavaScript and jQuery links -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
  <script>
    // JavaScript code to handle form submission
    const loginForm = document.getElementById('login-form');
    const responseMessage = document.getElementById('response-message');

    loginForm.addEventListener('submit', async (e) => {
      e.preventDefault();

      const email = document.getElementById('email').value;
      const password = document.getElementById('password').value;

      try {
        // Send a POST request to your server with the user's credentials
        
        const response = await fetch('http://localhost:3000/api/auth/login', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ email, password }),
        });

        const data = await response.json();

        if (response.ok) {
          window.location.href = '/dashboard';
          responseMessage.innerHTML = 'You are logged in sucessfully';
        } else {
          // Login failed, display an error message
          responseMessage.innerHTML = data.message;
        }
      } catch (error) {
        console.error('Error:', error);
        responseMessage.innerHTML = 'An error occurred. Please try again later.';
      }
    });
  </script>
</body>
</html>
