<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Registration</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>

<body>
  <div class="container mt-5">
    <h1 class="text-center">User Registration</h1>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form id="registration-form" method="POST" class="border rounded p-4">
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username"
              required value="testuser1">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required
              value="testuser@example1.com">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password"
              required value="testpassword">
          </div>
          <div class="mb-3">
            <label for="role" class="form-label">Role</label>
            <select class="form-select" id="role" name="role" required>
              <option value="employee">Client</option>
              <option value="manager">Manager</option>
              <option value="employee">Employee</option>
              <option value="manager">Admin</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Register</button>
        </form>
        <p id="response-message" class="mt-3 text-danger"></p>
      </div>
    </div>
  </div>

  <script>
    // JavaScript code to handle registration form submission
    const registrationForm = document.getElementById('registration-form');
    const responseMessage = document.getElementById('response-message');

    registrationForm.addEventListener('submit', async (e) => {
      e.preventDefault();

      const username = document.getElementById('username').value;
      const email = document.getElementById('email').value;
      const password = document.getElementById('password').value;
      const role = document.getElementById('role').value;

      try {
 

        const response = await fetch('http://localhost:3000/api/auth/register', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ username, email, password, role }),
        });

       // console.log('Response Status:', response.status); // Log the HTTP status code

        if (response.ok) {
          responseMessage.innerHTML = 'Registration successful. You can now login.';
          // Redirect to the login page or perform other actions upon successful registration
        } else {
          console.error('Error Response:', response.statusText); // Log the status text
          const data = await response.json();
          //console.log('Error Data:', data); // Log the response data
          responseMessage.innerHTML = `Registration failed: ${data.message}`;
        }

      } catch (error) {
        console.error('Error:', error);
        responseMessage.innerHTML = 'An error occurred. Please try again later.';
      }
    });
  </script>
</body>

</html>